.filtersWrapper {
    position: sticky;
    top: 25px;
    width: 230px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: start;

    margin-top: 20px;
    padding: 15px 25px;

    border-radius: 10px;

    background: $lime;

    z-index: 2;

    &__header {
        display: flex;
        font-size: 18px;
        font-weight: 700;

        h4 {
            display: block;
        }
    }

    &__spoiler {
        display: none;
        position: relative;
        &:after {
            position: absolute;
            right: -30%;
            content: url('../assets/images/showbutton.svg');
        }
    }

    &__planksColumn {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 10px;

        margin-top: 10px;
    }

    &__removeFilters {
        position: relative;
        margin: 15px 0 10px 20px;
        padding: 5px 10px;

        background: none;
        font-family: 'PTSans', sans-serif;
        font-size: 16px;
        font-weight: 700;
        opacity: 0.3;
        pointer-events: none;

        &::before {
            position: absolute;
            top: 8%;
            left: -20%;
            content: url('../assets/images/circle-remove.svg');
        }

        &_active {
            position: relative;
            margin: 15px 0 10px 20px;
            padding: 5px 10px;

            background: none;
            font-family: 'PTSans', sans-serif;
            font-size: 16px;
            font-weight: 700;
            opacity: 1;
            pointer-events: all;

            cursor: pointer;

            &::before {
                position: absolute;
                top: 8%;
                left: -20%;
                content: url('../assets/images/circle-remove.svg');
            }

            &:hover {
                transform: scale(1.1);
                transition: all 0.6s ease;
            }

            &:not(:hover) {
                transform: scale(1);
                transition: all 0.6s ease;
            }
            &:active {
                transform: scale(1);
                transition: all 0.6s ease;
            }
        }
    }
}

@media screen and (max-width: 620px) {
    .filtersWrapper {
        max-height: 50px;
        max-width: 160px;
        width: 90%;
        box-shadow: 0 16px 32px rgba(7, 5, 14, 0.4);
        top: 0px;

        &:active {
            background: $lightlime;
            transform: translateY(3px);
            transition: all 0.3s ease;
        }

        &__planksColumn {
            display: none;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        &__header {
            h4 {
                display: none;
            }
        }

        &__spoiler {
            display: block;
            position: relative;

            &:after {
                position: absolute;
                right: -30%;
                content: url('../assets/images/showbutton.svg');
            }
        }
        &__removeFilters {
            display: none;
        }

        &_expanded.filtersWrapper {
            max-height: max-content;
            max-width: none;
            transition: all 0.8s ease;
        }

        &_expanded {
            .filtersWrapper {
                &__planksColumn {
                    display: flex;
                }

                &__removeFilters {
                    display: block;

                    &_active {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 430px) {
    .filtersWrapper {
        &__planksColumn {
            flex-direction: column;
        }
    }
}
